body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
}

html {
    background-image: linear-gradient(to bottom, #000000, #000000);
} 

.board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
    height: 600px;
    border: 2px solid rgb(94, 255, 0);
}

.square {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(255, 238, 0);
    background-color: rgb(255, 0, 157);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
}

.square:hover {
    cursor: pointer;
    background-color: aqua;
}